@import 'iugu-ux/core'
@import "iugu-ux/variables" 
@import "compass/css3"

.iugu-ui
  .sidebar.iugu-main-sidebar
    .header-wrapper
      height: 104px
      position: relative
      .platform-logo-iugu-small
        position: absolute
        left: 50%
        margin-left: -32px
        top: 20px

.iugu-ui
  .sidebar.iugu-main-sidebar
    background: #f2f2f2
    padding: 0px
    .nav
      a,a:visited
        display: block
        padding: 13px
        text-decoration: none
        color: #333
        border-bottom: 1px solid #ccc
        border-top: 1px solid #fff
        @include text-shadow( rgba(255,255,255,1) 1px 1px 0px )
        &:hover
          background: #ececec 

.mobile
  .iugu-ui
    .sidebar.iugu-main-sidebar
      .nav
        a:hover
          background: #f2f2f2
